body {
  background: url(../img/background.jpg);
}

.rewardHeader {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 100px;
  background-color: black;
}

#timer{
  position: absolute;
  font-size: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  left: 600px;
}

.gamecontainer {
  position: relative;
  height: 800px;
  width: 1000px;
}

#scroll {
  position: absolute;
  height: auto;
  width: 900px;
  top: 100px;
  left: 70px;
}

.lantern1 {
  position: absolute;
  top: 300px;
  left: 170px;
}

.lantern2 {
  position: absolute;
  top: 300px;
  left: 370px;
}

.lantern3 {
  position: absolute;
  top: 300px;
  left: 570px;
}

.result1 {
  position: absolute;
  top: 400px;
  left: 250px;
  font-size: 100px;
  color: white;
  font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

.result2 {
  position: absolute;
  top: 400px;
  left: 450px;
  font-size: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.result3 {
  position: absolute;
  top: 400px;
  left: 650px;
  font-size: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#finishNotice {
  display: none;
  position: absolute;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 30px;
  top: 90%;
}
