body {
  background: url(../img/background.jpg);
}

.lantern1 {
  position: absolute;
  top: 40%;
  left: 30%;
}

.lantern2 {
  position: absolute;
  top: 40%;
  left: 40%;
}

.lantern3 {
  position: absolute;
  top: 40%;
  left: 50%;
}

.result1 {
  position: absolute;
  top: 50%;
  left: 34%;
  font-size: 100px;
  color: white;
  font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

.result2 {
  position: absolute;
  top: 50%;
  left: 44%;
  font-size: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.result3 {
  position: absolute;
  top: 50%;
  left: 54%;
  font-size: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
